extends layout.jade

block styles
  style.
    code.error {
      display: block;
      font-size: 15px;
      text-align: center;
    }

block content
  div#embed
    div.tab-content
      div.tab-pane.active(id= target): pre: code.error.text-danger!= message

    footer Powered by #[a(href="https://apiembed.com/", target="_blank") APIembed]
