- var title = 'API Embed';
- var description = 'Embeddable API snippets';
- var author = 'Ahmad Nassri';

doctype html
html(lang='en', itemscope, itemtype='http://schema.org/Product')
  head(prefix='og: http://ogp.me/ns# website: http://ogp.me/ns/website#')
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='robots', content='index,follow')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    meta(name='author', content= author)
    meta(name='description', content= description)

    meta(itemprop='name', content='')
    meta(itemprop='description', content= description)
    meta(property='og:site_name', content= title)
    meta(property='og:title', content= title)
    meta(property='og:description', content= description)
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='https://apiembed.com/')
    meta(property='fb:admins', content='227304446')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@ahmadnassri')
    meta(name='twitter:title', content= title)
    meta(name='twitter:description', content= description)
    meta(name='twitter:creator', content='@ahmadnassri')
    meta(name='twitter:url', content='https://apiembed.com')
    meta(name='twitter:domain', content='apiemebd.com')

    meta(name='google-site-verification', content='x0iiy6ABIM_ye0NrxlrXyD0xrLXuxuBIYFgnDcY_3Rk')
    meta(name='msvalidate.01', content='1531230360BB8F364EDBA26FCF41604D')

    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='canonical', href='https://apiembed.com/')
    link(rel='author', href='https://www.ahmadnassri.com/about')

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Code+Pro:200,300,400,500,600,700,900', media='all')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css', media='all')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css', media='all')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/tomorrow.min.css', media='all')

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js')

    style.
      * {
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
      }

      body {
        font-family: 'Open Sans', sans-serif;
        background-color: transparent;
      }

      code, kbd, pre, samp {
        font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
      }

      #embed {
        border-radius: 4px;
        border: 1px solid #C7C7C7;
        border: 1px solid rgba(0, 0, 0, .22);
        background-color: #FFFFFF;

        box-shadow: 1px 0px 3px rgba(0, 0, 0, .15);

        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }

      #embed .nav-tabs {
        border-color: #EAEAEA;
        background-color: #FCFCFC;
      }

      #embed .nav-tabs > li a,
      #embed .nav-tabs > li a:focus {
        border-top: none;
        border-bottom: none;
        border-radius: 0;

        color: #8C9093;
        font-size: 13px;
        font-weight: 600;
        padding: 16px;
      }

      #embed .nav-tabs > li a:hover {
        color: #41484C;
        background-color: #FCFCFC;
      }

      #embed .nav-tabs .open > a {
        border-color: #E6E6E6;
        background-color: #FCFCFC;
      }

      #embed .nav-tabs > li.active > a,
      #embed .nav-tabs > li.active > a:focus,
      #embed .nav-tabs > li.active > a:hover {
        color: #216FA6;
        border-color: #E6E6E6;
      }

      #embed .nav-tabs > .dropdown.active > a {
        color: #41484C;
      }

      #embed .nav-tabs > .dropdown > .dropdown-menu a .fa {
        opacity: 0;
      }

      #embed .nav-tabs > .dropdown.active > .dropdown-menu > .active > a .fa {
        opacity: 1;
      }

      #embed .nav-tabs > .dropdown.active > .dropdown-menu > .active > a,
      #embed .nav-tabs > .dropdown.active > .dropdown-menu > .active > a:focus,
      #embed .nav-tabs > .dropdown.active > .dropdown-menu > .active > a:hover {
        color: #216FA6;
        background-color: #F2F9FF;
      }

      #embed .dropdown-menu {
        padding: 0;
        border-radius: 0;

        border-top: 0;
        margin-top: 0;

        background-color: #FCFCFC;
        box-shadow: 1px 0px 4px rgba(0, 0, 0, .15);
      }

      #embed .nav-tabs {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      #embed .nav-tabs > li:hover a {
        background-color: #FFFFFF;
      }

      #embed .nav-tabs > li:first-of-type > a {
        border-left: none;
        border-top-left-radius: 4px;
      }

      #embed .tab-content .tab-pane,
      #embed .tab-content .tab-pane pre,
      #embed .tab-content .tab-pane pre code {
        height: 100%;
      }

      #embed .tab-content .tab-pane {
        position: relative;
      }

      #embed .tab-content .tab-pane .btn-clipboard {
        position: absolute;
        top: 5px;
        right: 5px;

        color: #AAAFB3;
        border-color: #D7D9DB

        background: #053b7b;
        background: -moz-linear-gradient(0deg, #FFFFFF 0%, #F7F7F7 100%);
        background: -webkit-linear-gradient(0deg, #FFFFFF 0%, #F7F7F7 100%);
        background: -o-linear-gradient(0deg, #FFFFFF 0%, #F7F7F7 100%);
        background: -ms-linear-gradient(0deg, #FFFFFF 0%, #F7F7F7 100%);
        background: linear-gradient(0deg, #FFFFFF 0%, #F7F7F7 100%);
      }

      #embed footer {
        padding: 10px 15px;

        color: #7b858c;
        font-size: 11px;
        font-weight: 600;

        border-top: 1px solid #E6E6E6;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        background-color: #FFFFFF;
      }

      #embed footer a {
        color: #399ee5;
      }

      #embed pre {
        margin: 0;
        padding: 0;

        border: none;
        border-radius: 0;

        background-color: #FFFFFF;
      }

      #embed pre code {
        padding: 15px;
      }

      .hljs {
        padding: 0;
      }

    block styles

  body
    block content

    block scripts

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXX', 'apiemebd.com');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
