extends layout.jade

block content
  div#embed(role='tabpanel')
    ul.nav.nav-tabs(role='tablist')
      each code, target in output
        li(role='presentation'): a(href='#' + target, aria-controls= target, role='tab' data-toggle='tab')= target

    <!-- Tab panes -->
    div.tab-content
      each code, target in output
        div.tab-pane(id= target, role='tabpanel'): pre: code= code

    footer Powered by #[a(href="https://apiembed.com/") APIembed], made with &hearts; at #[a(href="https://www.mashape.com/") MashAPE].


block scripts
  script(type='text/javascript').
    $(function() {
      // select first tab
      $('.nav-tabs a:first').tab('show');

      // highlight the code
      $('.tab-content pre code').each(function (i, block) {
        hljs.highlightBlock(block);
      });
    });

    function resize () {
      // calculate the new height
      var height = $(window).height();

      height -= $('.nav-tabs').height();
      height -= $('footer').height();
      height -= parseInt($('pre:first-of-type').css('padding-top')) * 2;

      // adjust the height
      $('.tab-content').height(height);
    }

    $(document).ready(resize);
    $(window).resize(resize);
